In [46]:
import pandas as pd
import os 
import requests
# Finding current path
os.getcwd()

# Assigning csv files to dataframes
# Assigning csv files to dataframes
order_list = pd.read_csv('list_of_orders.csv' , parse_dates=['Order Date','Ship Date']) #reading list of orders file
order_breakdown = pd.read_csv('order_breakdown.csv') #reading list of orders file
#order_breakdown = pd.read_csv('order_breakdown.csv', index_col=0) #reading list of orders file
# Merging dataframes from csv
combined = pd.merge(order_list, order_breakdown, how='inner', on = 'Order ID')
combined

,Order ID,Order Date,Customer Name,City,CountryCode,Region,Segment,Ship Date,Order Shipment TimeFrame,Ship Mode,State,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category
0,AZ-2011-4827146,2011-11-01,Faith Greenwood,Vienna,AT,Central,Consumer,2011-01-15,4,Economy,Vienna,"Boston Canvas, Fluorescent",0.0,$55.00,$10.00,1,Office Supplies,Art
1,AZ-2011-4827146,2011-11-01,Faith Greenwood,Vienna,AT,Central,Consumer,2011-01-15,4,Economy,Vienna,"Smead Trays, Single Width",0.0,$97.00,$31.00,2,Office Supplies,Storage
2,AZ-2011-5960662,2011-01-14,Ella Troy,Vienna,AT,Central,Home Office,2011-01-19,5,Economy,Vienna,"Xerox Message Books, Premium",0.0,$224.00,$103.00,11,Office Supplies,Paper
3,AZ-2011-5960662,2011-01-14,Ella Troy,Vienna,AT,Central,Home Office,2011-01-19,5,Economy,Vienna,"StarTech Card Printer, White",0.0,$486.00,$78.00,3,Technology,Machines
4,AZ-2011-5960662,2011-01-14,Ella Troy,Vienna,AT,Central,Home Office,2011-01-19,5,Economy,Vienna,"Apple Headset, with Caller ID",0.0,$440.00,$66.00,6,Technology,Phones
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8042,AZ-2014-8007090,2014-12-30,Mary Saterfiel,Plymouth,UK,North,Consumer,2015-03-01,4,Economy,England,"Fellowes Box, Single Width",0.0,$39.00,$2.00,2,Office Supplies,Storage
8043,AZ-2014-157670,2014-12-30,Max Ludwig,Edinburgh,UK,North,Home Office,2015-04-01,5,Economy,Scotland,"Office Star Chairmat, Adjustable",0.0,$68.00,$27.00,1,Furniture,Chairs
8044,AZ-2014-766953,2014-12-31,Jose Gambino,Maidenhead,UK,North,Corporate,2015-05-01,5,Economy,England,"Ikea Stackable Bookrack, Traditional",0.0,$245.00,$91.00,2,Furniture,Bookcases
8045,AZ-2014-766953,2014-12-31,Jose Gambino,Maidenhead,UK,North,Corporate,2015-05-01,5,Economy,England,"Motorola Audio Dock, VoIP",0.0,$867.00,$251.00,5,Technology,Phones
8046,AZ-2014-1412225,2014-12-31,Leon Barnes,Worcester,UK,North,Consumer,2015-01-01,1,Priority,England,"Fellowes Shelving, Single Width",0.0,$289.00,$75.00,5,Office Supplies,Storage

In [47]:
cv19 = requests.get('https://api.covid19api.com/summary')
cv19 = cv19.json()
df = pd.DataFrame(cv19['Countries'])
countries = df[["Country","CountryCode"]]
countries

                             Country CountryCode
0                        Afghanistan          AF
1                            Albania          AL
2                            Algeria          DZ
3                            Andorra          AD
4                             Angola          AO
..                               ...         ...
192  Venezuela (Bolivarian Republic)          VE
193                         Viet Nam          VN
194                            Yemen          YE
195                           Zambia          ZM
196                         Zimbabwe          ZW

[197 rows x 2 columns]

In [50]:
df_joined_table = pd.merge(combined,countries, left_on='CountryCode', right_on='CountryCode')
df_joined_table
df_merged=df_joined_table[['Order ID','Order Date','Customer Name','City','Country','Region','Segment','Ship Date',
                   'Ship Mode','State','Product Name','Discount','Sales','Profit','Quantity','Category','Sub-Category', 'Order Shipment TimeFrame']]
df_merged

,Order ID,Order Date,Customer Name,City,Country,Region,Segment,Ship Date,Ship Mode,State,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category,Order Shipment TimeFrame
0,AZ-2011-4827146,2011-11-01,Faith Greenwood,Vienna,Austria,Central,Consumer,2011-01-15,Economy,Vienna,"Boston Canvas, Fluorescent",0.0,$55.00,$10.00,1,Office Supplies,Art,4
1,AZ-2011-4827146,2011-11-01,Faith Greenwood,Vienna,Austria,Central,Consumer,2011-01-15,Economy,Vienna,"Smead Trays, Single Width",0.0,$97.00,$31.00,2,Office Supplies,Storage,4
2,AZ-2011-5960662,2011-01-14,Ella Troy,Vienna,Austria,Central,Home Office,2011-01-19,Economy,Vienna,"Xerox Message Books, Premium",0.0,$224.00,$103.00,11,Office Supplies,Paper,5
3,AZ-2011-5960662,2011-01-14,Ella Troy,Vienna,Austria,Central,Home Office,2011-01-19,Economy,Vienna,"StarTech Card Printer, White",0.0,$486.00,$78.00,3,Technology,Machines,5
4,AZ-2011-5960662,2011-01-14,Ella Troy,Vienna,Austria,Central,Home Office,2011-01-19,Economy,Vienna,"Apple Headset, with Caller ID",0.0,$440.00,$66.00,6,Technology,Phones,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6728,BN-2014-4509327,2014-04-12,Anna Macdonald,Zurich,Switzerland,Central,Consumer,2014-11-12,Economy,ZÃ¼rich,"Hewlett Copy Machine, High-Speed",0.0,"$1,055.00",$264.00,4,Technology,Copiers,7
6729,AZ-2014-3870231,2014-12-30,Thomas Thompson,Basel,Switzerland,Central,Corporate,2015-02-01,Priority,Basel-Stadt,"Sanford Canvas, Blue",0.0,$152.00,$44.00,3,Office Supplies,Art,3
6730,AZ-2014-3870231,2014-12-30,Thomas Thompson,Basel,Switzerland,Central,Corporate,2015-02-01,Priority,Basel-Stadt,"Kleencut Ruler, Easy Grip",0.0,$30.00,$1.00,2,Office Supplies,Supplies,3
6731,AZ-2014-3870231,2014-12-30,Thomas Thompson,Basel,Switzerland,Central,Corporate,2015-02-01,Priority,Basel-Stadt,"Canon Fax and Copier, Laser",0.0,"$1,913.00",$899.00,10,Technology,Copiers,3
6732,AZ-2014-3870231,2014-12-30,Thomas Thompson,Basel,Switzerland,Central,Corporate,2015-02-01,Priority,Basel-Stadt,"Nokia Headset, with Caller ID",0.0,$292.00,$35.00,4,Technology,Phones,3

conditional function to define shipping types as the current 'Order shipment TimeFrame' column does not have current shipping types

In [67]:
def assign_Result(x):
    if (x == 2) or (x == 3) :
        return  'Priority Shipping'
    elif (x == 0) or (x == 1):
        return 'Next Day Shipping'
    elif x >= 4:
        return 'Standard Shipping'
    else:
        return 'Other'
df_merged['Shipping options'] = df_merged['Order Shipment TimeFrame'].apply(assign_Result)
df_merged

TypeError: '>=' not supported between instances of 'str' and 'int'